@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Space+Mono");

html,
body,
#root,
#root {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  // font-family: "Montserrat", sans-serif;
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1d1a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: "Space Mono", monospace;
}

@media (max-width: 769px) {
  .cv-personal-info {
    display: none !important;
  }
}
